<div class="container">
  <div class="card">
    <div class="card-header text-center p-1">
      <h3 class="text-dark">Filtro</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-lg-6 col-md-8 col-sm-12">
            <label for="date">Data:</label>
            <input class="form-control form-control-sm form-control-borderless" [(ngModel)]="filter.Date" id="date"
              name="date" type="date">
          </div>
        </div>
        <button class="btn btn-sm btn-success" type="submit" (click)="validateDateSearch()">Consultar</button>
      </form>
    </div>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div class="container">
  <div class="card mt-3">
    <div class="card-header text-center p-1">
      <h3 class="text-dark">Lista</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-center">País</th>
            <th scope="col" class="text-center">Infectados</th>
            <th scope="col" class="text-center">Curados</th>
            <th scope="col" class="text-center">Óbitos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of covid19">
            <td class="text-center">{{ country.Country }}</td>
            <td class="text-center">{{ country.Active }}</td>
            <td class="text-center">{{ country.Recovered }}</td>
            <td class="text-center">{{ country.Deaths }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
