<div class="container">
  <div class="card">
    <div class="card-header text-center p-1">
      <h3 class="text-dark">Filtro</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-sm-4 col-md-4 col-lg-4">
            <label>Data:</label>
            <input class="form-control form-control-sm form-control-borderless" [(ngModel)]="filter.Date" name="date"
              type="date">
          </div>
          <div class="form-group col-sm-8 col-md-8 col-lg-8">
            <label>País:</label>
            <select class="form-control form-control-sm form-control-borderless" [(ngModel)]="filter.CountrySlug"
              name="country">
              <option *ngFor="let country of countries$ | async" [value]="country.Slug">{{ country.Country }}</option>
            </select>
          </div>
        </div>
        <button class="btn btn-sm btn-success" type="submit" (click)="validateDateSearch()">Consultar</button>
      </form>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="container">
  <div class="card mt-3 mb-5">
    <div class="card-header text-center p-1">
      <h3 class="text-dark">Gráfico</h3>
    </div>
    <div class="card-body">
      <canvas #canvasGraph height="125"></canvas>
    </div>
  </div>
</div>
